.hero {
  background-size: 100%, cover !important;
  background-position: center, center !important;
  width: 100%;
  position: relative;
  background-size: cover;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: inset 0px 0px 100px #000000, inset -0px -50px 250px #000000;
}

@keyframes animateHeroimage {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.hero-content {
  width: 100%;

  margin: 0;
}

.hero-content .hero-text {
  z-index: 100;
  position: absolute;
  top: 20%;
  min-height: 100px;
  background: rgba(0, 0, 0, 0);
  color: #ffffff;
  width: 100%;
}

.hero-content .hero-text h1 {
  font-family: "Abel", sans-serif;
  font-size: 48px;
  color: #fff;
  width: 100%;
  text-align: center;
}

.hero-content .hero-text p {
  font-family: "Abel", sans-serif;
  font-size: 24px;
  line-height: 26px;
  color: #ffffff;
  text-align: center;
}