.profile-square {
  display: relative;
  position: fixed;
  right: 28px;
  top: 80px;
  background-color: #1f1f1f;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.profile-square p:hover {
  color: rgb(195, 195, 195);
}

.icon {
  padding-left: 10px;
  color: #ee4622;
  display: relative;
}

.submenu {
  color: white;
  display: relative;
}

.submenu:hover {
  color: rgb(195, 195, 195);
}

.profile-dropdown-group {
  display: flex;
  margin-bottom: 18px;
}

.profile-dropdown-icon {
  font-size: 19px;
  width: 15px;
}

.profile-dropdown-link {
  font-size: 19px;
  padding-left: 30px;
}

.profile-arrow {
  position: inherit;
  right: 40px;
  top: 65px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid #1f1f1f;
  width: 0;
  height: 0;
}
